<?xml version="1.0" ?>

<model>
  <name>grippy_boi</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Steve Peters</name>
    <email>scpeters@osrfoundation.org</email>
  </author>

  <author>
    <name>Nat Tuck</name>
    <email>...</email>
  </author>

  <author>
    <name>Xingyu Lu</name>
    <email>...</email>
  </author>

  <author>
    <name>Joseph Straceski</name>
    <email>straceski.joseph@gmail.com</email>
  </author>

  <description>
    A Bot with tank_wheels and Sonar snesor.
  </description>
</model>
